<html>
  <head>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet"></link>
  </head>
  <body ng-app="players">
    <div ng-controller="MusicianFinderController as musicians">
      <div class="jumbotron">
        <p class="lead">For your next gig you need someone playing
	<select ng-change="musicians.updatePlayers(selCateg)" ng-model="selCateg" ng-options="category.value for category in musicians.categories">
	   <option style="display:none" class="ng-info" value="">&nbsp;select categ.&nbsp;</option>
	</select></p>
        <table class="table table-stripped table-hover" ng-show="selCateg.value">
          <thead>
            <tr>
              <th>Name</th>
              <th>eMail</th>
              <th>Played Instruments</th>
            </tr>
          </thead>
          <tbody ng-repeat="player in musicians.players">
            <tr>
              <td>{{player.name}}</td>
              <td>{{player.email}}</td>
              <td>{{player.instruments}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- client app code -->
    <script src="js/angular.min.js" type="text/javascript"></script>
    <script src="js/app.js" type="text/javascript"></script>
  </body>
</html>
